/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color:var(--orange);
  }
  
  a{
      color: var(--white);
      display: inline;
      text-decoration: none;

  }

  li{
      list-style: none;
  }

  ul {
      padding: 0;
  }

 

  /* ---- variable ---- */

  :root{
      --orange: #7F00D6;
      --white: #fff;
      --marine: #031D5B;
      --light-blue: #5B6C94;
      --light-grey: #CDCDCD;
      --blue-very-light:#14DDC3;
      --main-font-size: 13pt;
    
  }


  
  /* ---- typography ---- */
  
  body {
    color: var(--white);
    font-family: 'Roboto', sans-serif;

  }
  
  h1 {
      color: var(--white);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 10%;
    }
  
  h2 {
      color: var(--white);
      font-weight: bold;
      font-size: 24pt;
      line-height: 1;
      text-align: center;
      margin: 8%;
      
  }

  h2.form{
      color: var(--orange);
  }
  
  h3 {
      color: var(--marine);
      font-size: 18pt;
      text-align: center;
  }

  h3.form{
      color: var(--light-grey)
  }

  h4{
    color: var(--marine);
    font-size: 14pt;
    text-align: left;
    margin-left: 10%;
  }

  h4.card1{
      color: var(--orange);
      margin-top: -45%;
      margin-left: 20%;


  }
  
  p {
      color: var(--white);
      font-size: var(--main-font-size);
      text-align: center;
      margin: 10%;
      line-height: 25px;

  }

  p.intro{
      text-align: center;

  }

  p.article{
    color: var(--light-blue);
      text-align: left;
      margin: 10%;

  }

  p.article.premium{
      text-align: center;
      margin:10%;

  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 0px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  .card2{
      background-color: var(--blue-very-light);
      width: 70%;
      padding: 20%;
      border-radius: 20px;
      filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
      top: 10%;
      margin: 0 auto;
      

  }

  .mainquote{
      margin-bottom: 20%;
  }

  container.navbar{
     display:flex;
     flex-direction: row;
     justify-content: space-around;

  }

  container.footernavbar{
      display:flex;
      flex-direction:row;
      justify-content: space-around;
  }


  
  
  
  /* ---- components ---- */
  
  .button {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom:20%;
    background-color: var(--blue-very-light);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5%;
    font-size: 14pt;
    font-weight: bold;
  }
  

  .input{
      width:90%;
      display:block;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 10%;
      background-color: var(--white);
      border-radius: 20px;
      text-align: left;
      padding: 5%;
      font-size: 14pt;

  }
  .input::placeholder {
      padding-left: 5%;
  }

  .articles {
    background-color: var(--white);
    border-radius: 20px;
    margin: 5%;
    position: relative;
    top: -50px;
    filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
    padding: 10% 0 10% 0;
  }

.mainsections{

    background-color: var(--white);
    margin-bottom: 10%;

}


.form3{
    margin-bottom: 20%;
}



  img{
    display:block;
    margin:auto;
    }



img.quote1{
    width:40%;
    margin: 0% 0% 20% 20%;
    
}

img.quote2{
    width: 40%;
    margin: 0% 0% 20% 10%;
}

img.inicio{
    width: 90%;
    padding:2%;
    margin:10%;
}

.articleimg{
    margin: 0% 0% 10% 10%;

}
  
  /* ---- section ---- */
  
