/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color:var(--orange);
  }
  
  a{
      color: var(--white);
      display: inline;
      text-decoration: none;

  }

  li{
      list-style: none;
  }

  /* ---- variable ---- */

  :root{
      --orange: #F8765E;
      --white: #fff;
      --marine: #031D5B;
      --light-blue: #5B6C94;
      --light-grey: #CDCDCD;
      --blue-very-light: #9BDBE7;
      --main-font-size: 13pt;
    
  }


  
  /* ---- typography ---- */
  
  body {
    color: var(--white);
    font-family: 'Roboto', sans-serif;

  }
  
  h1 {
      color: var(--white);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 10%;
    }
  
  h2 {
      color: var(--white);
      font-weight: bold;
      font-size: 24pt;
      line-height: 1;
      text-align: center;
      margin: 8%;
      
  }

  h2.form{
      color: var(--orange);
  }
  
  h3 {
      color: var(--marine);
      font-size: 18pt;
      text-align: center;
  }

  h3.form{
      color: var(--light-grey)
  }

  h4{
    color: var(--marine);
    font-size: 14pt;
    text-align: left;
  }

  h4.card1{
      color: var(--orange);
      margin-top: -20%;


  }
  
  p {
      color: var(--white);
      font-size: var(--main-font-size);
      text-align: center;
      margin: 10%;
      line-height: 25px;

  }

  p.intro{
      text-align: center;

  }

  p.article{
    color: var(--light-blue);
      text-align: left;
      margin: 10% 10% 10% 0%;

  }

  p.article.premium{
      text-align: center;
      margin:10%;

  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  .rectanguloazul{
      background-color: #9BDBE7;
      border-radius: 20px;
      filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
  }

  
  
  
  /* ---- components ---- */
  
  .button {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom:20%;
    background-color: var(--blue-very-light);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5%;
    font-size: 14pt;
    font-weight: bold;
  }
  

  .input{
      width:90%;
      display:block;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 10%;
      background-color: var(--white);
      border-radius: 20px;
      text-align: left;
      padding: 5%;
      font-size: 14pt;

  }
  .input::placeholder {
      padding-left: 20px;
  }

  .fondoblanco {
    background-color: var(--white);
    border-radius: 20px;
    margin: 20px;
    position: relative;
    top: -50px;
    filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
    padding: 50px 0px 10px 0px;
  }
.fondoblancoplano{
    background-color: var(--white);
    margin-top: px;
    padding: 0px 0px 0px 0px;
}
  img{
    display:block;
    margin:auto;
    }

img.izquierda{
    float: le;
    
}

img.fotocentrada{
    width: 100%;
    margin-left: 30px;
}

  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }