/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F8765E;
  }
  
  a{
      color:white;
      display: inline;
      text-decoration: none;

  }

  li{
      list-style: none;
  }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
  
  h2 {
      color: white;
      font-weight: bold;
      font-size: 30pt;
      line-height: 1;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      
  }

  h2.naranja{
      color: #F8765E;
  }
  
  h3 {
      color: #031D5B;
      font-size: 18pt;
      text-align: center;
  }

  h4{
    color: #031D5B;
    font-size: 14pt;
    text-align: left;
  }

  h4.naranja{
      color: rgb(207, 81, 59);
      margin-top: -60px;
      margin-left: 40px;

  }
  
  p {
    margin: 0;
  }

  p.blanco{
      color: white;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;

  }

  p.azul{
      color: #5B6C94;
      text-align: left;
      margin-top: 20px;
      margin-right: 20px;

  }

  p.azulcentrado{
    color: #5B6C94;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;

  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  .rectanguloazul{
      background-color: #9BDBE7;
      border-radius: 20px;
      filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
  }

  
  
  
  /* ---- components ---- */
  
  .button {
    width: 168px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-block-end: 70px;
    background-color: #9BDBE7;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }

  .input{
      width: 335px;
      height: 60px;
      display:block;
      margin: 0 auto;
      margin-top: 20px;
      background-color: white;
      border-radius: 20px;
      text-align: left;
      font-size: 14pt;

  }
  .input::placeholder {
      padding-left: 20px;
  }

  .fondoblanco {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    top: -50px;
    filter: drop-shadow(0px 5px 5px rgb(173, 173, 173));
    padding: 20px 0;
  }
.fondoblancoplano{
    background-color: white;
    margin-top: px;
}
  img{
    display:block;
    margin:auto;
    }

img.izquierda{
    float: le;
    
}

  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }